Balancer/TSMBalancer.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tsm="http://www.example.org/TSMBalancer/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TSMBalancer" targetNamespace="http://www.example.org/TSMBalancer/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/TSMBalancer/">
      <xsd:element name="getUrl">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUrlResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
	</xsd:element>
	<xsd:element name="setBadUrl">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
      <xsd:element name="setBadUrlResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="clearBlackList">
      </xsd:element>	  
      <xsd:element name="showBlackList">
      </xsd:element>
      <xsd:element name="showBlackListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="showBlackListResponse" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>	  
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getUrlRequest">
    <wsdl:part element="tsm:getUrl" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getUrlResponse">
    <wsdl:part element="tsm:getUrlResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="setBadUrlRequest">
	<wsdl:part element="tsm:setBadUrl" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="setBadUrlResponse">
	<wsdl:part element="tsm:setBadUrlResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="clearBlackListRequest">
  </wsdl:message>
    <wsdl:message name="showBlackListRequest">
  </wsdl:message>  
   <wsdl:message name="showBlackListResponse">
	<wsdl:part element="tsm:showBlackListResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="TSMBalancer">
    <wsdl:operation name="getUrl">
      <wsdl:input message="tsm:getUrlRequest"/>
      <wsdl:output message="tsm:getUrlResponse"/>
    </wsdl:operation>
	<wsdl:operation name="setBadUrl">
      <wsdl:input message="tsm:setBadUrlRequest"/>
      <wsdl:output message="tsm:setBadUrlResponse"/>
    </wsdl:operation>
	<wsdl:operation name="clearBlackList">
	<wsdl:input message="tsm:clearBlackListRequest"/>
    </wsdl:operation>
	<wsdl:operation name="showBlackList">
      <wsdl:input message="tsm:showBlackListRequest"/>
      <wsdl:output message="tsm:showBlackListResponse"/>
    </wsdl:operation>	
  </wsdl:portType>
  <wsdl:binding name="TSMBalancerSOAP" type="tsm:TSMBalancer">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getUrl">
      <soap:operation soapAction="http://www.example.org/TSMBalancer/getUrl"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
	<wsdl:operation name="setBadUrl">
      <soap:operation soapAction="http://www.example.org/TSMBalancer/setBadUrl"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
	<wsdl:operation name="clearBlackList">
      <soap:operation soapAction="http://www.example.org/TSMBalancer/clearBlackList"/>
       <wsdl:input>
       <soap:body use="literal"/>
	   </wsdl:input>
      <wsdl:output> 
      <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
	<wsdl:operation name="showBlackList">
      <soap:operation soapAction="http://www.example.org/TSMBalancer/showBlackList"/>
       <wsdl:input>
       <soap:body use="literal"/>
	   </wsdl:input>
      <wsdl:output> 
      <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>		
  </wsdl:binding>
  <wsdl:service name="TSMBalancer">
    <wsdl:port binding="tsm:TSMBalancerSOAP" name="TSMBalancerSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
